---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "../../layouts/MainLayout.astro";
import Hero from "../../components/Hero.astro";
import Form from "../../components/forms/FormCv.astro";
import { ArrowLeft } from "@lucide/astro";

export async function getStaticPaths() {
  const posts = await getCollection("jobs");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"jobs">;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.thumbnail}
>
  <Hero
    title={post.data.title}
    subtitle={`
    ${post.data.city}, ${post.data.country}`}
  />
  <div class="container my-10">
    <div class="breadcrumbs text-sm">
      <ul class="flex! flex-wrap">
        <li><a href="/">Home</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li>{post.data.title}</li>
      </ul>
    </div>
  </div>
  <div class="container my-10">
    <div class="grid grid-cols-1 md:grid-cols-[300px_1fr] gap-10 items-start">
      <aside class="grid gap-10">
        <section class="border border-gray-200 p-10 grid gap-10">
          <div>
            <h3>Location</h3>
            <p>
              {post.data.city}
              , {post.data.country}
            </p>
          </div>
          <hr class="opacity-10" />
          <div>
            <h3>Salary</h3>
            <p>
              {post.data.currency}{post.data.min_salary} - {post.data.currency}{
                post.data.max_salary
              }
              &nbsp;{post.data.salary_period} + Bonus + Pension + Benefits
            </p>
          </div>
          <hr class="opacity-10" />

          <div>
            <h3>Job Type</h3>
            <p>{post.data.type}</p>
          </div>
        </section>

        <section class="border border-gray-200 p-10 grid gap-10">
          <div>
            <h3>Reference</h3>
            <p>{post.data.referrer}</p>
          </div>
        </section>

        <a
          href="../"
          class="btn btn-secondary text-white shadow-none rounded-none btn-lg relative"
        >
          <ArrowLeft class="absolute left-2" />
          <span class="mx-auto">Back</span></a
        >
      </aside>
      <div class="job-post">
        <section>
          <h2>Description</h2>
          <p class="font-semibold text-lg! mb-3">{post.data.title}</p>
          <p class="font-semibold text-lg!">
            {post.data.company} - {post.data.city}, {post.data.country} - {
              post.data.type
            }
          </p>
          <Content />
        </section>
        <hr class="opacity-20 my-10" />
        <section>
          <h2 class="mb-10">Apply for this role</h2>
          <Form />
        </section>
      </div>
    </div>
  </div>
</Layout>
