---
import { ArrowRight } from "@lucide/astro";
import { getCollection } from "astro:content";

const jobs = await getCollection("jobs");

const truncate = (text: string, length = 100) =>
  text.length > length ? `${text.slice(0, length)}...` : text;
---

<section class="section section_jobs">
  <div class="container">
    <div class="flex items-center justify-between gap-10">
      <hgroup>
        <h2 class="text-primary uppercase text-lg mb-3">jobs</h2>
        <p class="h2">Latest Openings</p>
      </hgroup>

      <a
        href="/jobs"
        class="btn btn-square bg-primary text-secondary hover:bg-secondary hover:text-white shadow-none rounded-none border-none btn-lg"
        title="Next"
      >
        <ArrowRight />
      </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 mt-10">
      {
        jobs.map((job, index) => (
          <a
            href={`/jobs/${job.id}`}
            class={`p-10 ${
              index === 0 ? "bg-primary text-black" : "bg-secondary text-white"
            }`}
          >
            <h3 class="h3 font-semibold mb-2">{job.data.title}</h3>

            <p class="mb-4">
              {job.data.city}, {job.data.country}
            </p>

            <p class="mb-4 text-lg">
              {job.data.currency}
              {job.data.min_salary} - {job.data.currency}
              {job.data.max_salary} {job.data.salary_period}
            </p>

            <p class="text-sm mb-6">{truncate(job.data.description)}</p>

            <button
              class={`btn btn-link p-0 capitalize hover:no-underline ${
                index === 0 ? "text-black" : "text-white"
              }`}
            >
              View job
            </button>
          </a>
        ))
      }
    </div>
  </div>
</section>
