---
import { Image } from "astro:assets";
import { ArrowLeft } from "@lucide/astro";

import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./MainLayout.astro";
type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  parent = "Blog",
} = Astro.props;
---

<Layout title={title} description={description} heroImage={heroImage}>
  <div class="container my-10">
    <div class="breadcrumbs text-sm mb-5 md:mb-10 max-w-4xl mx-auto">
      <ul class="flex! flex-wrap">
        <li><a href="/">Home</a></li>
        <li><a href="../">{parent}</a></li>
        <li>{title}</li>
      </ul>
    </div>
    <article class="blog-post max-w-4xl mx-auto">
      <div class="title mb-10">
        <div class="date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <div class="hero-image">
        {
          heroImage && (
            <Image width={1020} height={510} src={heroImage} alt="" />
          )
        }
      </div>
      <div class="prose">
        <slot />

        <div class="mt-10">
          <a
            href="../"
            class="btn btn-secondary text-white shadow-none rounded-none btn-lg"
          >
            <ArrowLeft />
            Back</a
          >
        </div>
      </div>
    </article>
  </div>
</Layout>
